{% extends 'dashboard.html' %}

{% block title %}Product Details{% endblock %}

{% block content %}
<div class="container mt-5">
    <div class="row">
        <div class="col-md-6">
            <img src="https://cdn.mos.cms.futurecdn.net/iC7HBvohbJqExqvbKcV3pP-1200-80.jpg" class="img-fluid" alt="{{ product.product_name }}">
        </div>
        <div class="col-md-6">
            <h2>{{ product.product_name }}</h2>
            <p>Price: ${{ product.price }}</p>
            <p>{{ product.product_name }} description will be added leter</p>
            <form action="/cart/{{ product.id }}" method="post">
                {% csrf_token %}
                <button type="submit" class="btn btn-primary">Add to Cart</button>
            </form>
        </div>
    </div>
</div>
{% endblock %}