<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <title>Buyer</title>
</head>
<body>

<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="container-fluid">
    <strong class="navbar-brand" >Agribusiness</strong>
    <form class="container-fluid justify-content-start">
    <button class="btn btn-outline-success me-2" type="button">Home</button>
    <button class="btn btn-outline-success me-2" type="button">About</button>
    <button class="btn btn-outline-success me-2" type="button">Contact Us</button>

    </form>
  </div>
</nav>

<br>

<h1>Buyer Info:</h1>

{% for s in buyer%}

<p> First Name    : {{s.First_Name}}</p>
<p> Last Name     : {{s.Last_Name}}</p>
<p> Date Of Birts : {{s.Date_Of_Birth}}</p>
<p> Location      : {{s.Location}}</p>
<p> Phone Number  : {{s.Phone_Number}}</p>
<p> Email         : {{s.Email}}</p>

<hr>

{% endfor %}
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js" integrity="sha384-IQsoLXl5PILFhosVNubq5LC7Qb9DXgDA9i+tQ8Zj3iwWAwPtgFTxbJ8NT4GN1R8p" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.min.js" integrity="sha384-cVKIPhGWiC2Al4u+LWgxfKTRIcfu0JTxR+EQDz/bgldoEyl4H0zUF0QKbrJ0EcQF" crossorigin="anonymous"></script>


</body>
</html>