{% extends 'dashboard_buyer.html' %}

{% block title %}Order Details{% endblock %}

{% block content %}
<div class="container mt-4">
    <!-- Display messages -->
    {% if messages %}
    <div class="alert alert-info" role="alert">
        <ul class="mb-0">
            {% for message in messages %}
            <li>{{ message }}</li>
            {% endfor %}
        </ul>
    </div>
    {% endif %}

    <div class="row">
        <div class="col-md-3"></div>
        <div class="col-md-6">
            <h3>Order Details</h3>
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th scope="col">Order Number</th>
                        <th scope="col">Product Name</th>
                        <th scope="col">Price</th>
                    </tr>
                </thead>
                <tbody>
                    {% for order in orders %}
                    <tr>
                        <td># {{ order.Order_Id }}</td>
                        <td>{{ order.Product_Id.product_name }}</td>
                        <td>{{ order.Product_Amount }}</td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
        <div class="col-md-3"></div>
    </div>
</div>
{% endblock %}
