<!-- {% extends 'dashboard_seller.html' %}

{% block title %}Product Management{% endblock %}

{% block content %}

<h1>Seller Info:</h1>

{% if user %}
    <p>First Name    : {{ user.first_name }}</p>
    <p>Last Name     : {{ user.last_name }}</p>
    <p>Date Of Birth : {{ user.date_of_birth }}</p>
    <p>Location      : {{ user.location }}</p>
    <p>Phone Number  : {{ user.phone_number }}</p>
    <p>Email         : {{ user.email }}</p>
{% else %}
    <p>No Seller information available for the logged-in user.</p>
{% endif %}

<hr>

{% endblock %} -->
